In [1]:
import pandas as pd

In [66]:
import pandas as pd
rows_skip = []
# 读取Excel文件
df_input = pd.read_excel('Copy of xykmx_20231215091635.xlsx',skipfooter=2, header=None, engine='openpyxl')


# 删除包含指定文本的行
df_input = df_input[~df_input[0].str.contains('中国建设银行信用卡交易明细', na=False)]
df_input = df_input[~df_input[0].str.contains('客户名称', na=False)]
df_input = df_input[~df_input[0].str.contains('序号', na=False)]
df_input = df_input[~df_input[7].str.contains('SG', na=False)]
df_input = df_input[~df_input[7].str.contains('约定还款', na=False)]
# 重置索引
df_input.reset_index(drop=True, inplace=True)

df_input

,0,1,2,3,4,5,6,7
0,1,20231108,20231110,4321 3000 5225 2945,消费,人民币元,129.34,Temu. com Victoria CA
1,4,20231110,20231114,4321 3000 5225 2945,消费,人民币元,100.43,FRESHCO#9760 LONDON CA
2,9,20231111,20231113,4321 3000 5225 2945,消费,人民币元,49.36,LA PARRILLADA GRILL LONDON CA
3,10,20231113,20231117,4321 3000 5225 2945,消费,人民币元,68.67,FRESHCO#9760 LONDON CA
4,11,20231114,20231116,4321 3000 5225 2945,消费,人民币元,349.14,Paymentwall 0215884000 KR
5,13,20231115,20231117,4321 3000 5225 2945,退货退税,人民币元,-89.94,REGISTRAR - WESTERNLETTELONDON CA
6,19,20231118,20231122,4321 3000 5225 2945,消费,人民币元,102.82,FRESHCO#9760 LONDON CA
7,22,20231124,20231126,4321 3000 5225 2945,消费,人民币元,101.31,URBAN PLANET #1736 LONDON CA
8,23,20231125,20231127,4321 3000 5225 2945,消费,人民币元,233.03,AMZN Mkt p CA*N55222DK3 WWW. AMAZON. CACA
9,26,20231125,20231128,4321 3000 5225 2945,消费,人民币元,18.47,COCA COLA LONDON ON LONDON CA
10,27,20231125,20231129,4321 3000 5225 2945,消费,人民币元,42.19,FRESHCO#9760 LONDON CA
11,28,20231126,20231127,4321 3000 5225 2945,消费,人民币元,118.88,AMZN Mkt p CA*SL76648Q3 WWW. AMAZON. CACA
12,29,20231126,20231130,4321 3000 5225 2945,消费,人民币元,243.42,FRESHCO#9760 LONDON CA
13,32,20231128,20231130,4321 3000 5225 2945,退货退税,人民币元,-26.71,Temu. com Victoria CA
14,33,20231202,20231204,4321 3000 5225 2945,消费,人民币元,59.85,Amazon. ca Prime Member amazon. ca/priCA
15,35,20231205,20231207,4321 3000 5225 2945,消费,人民币元,562.22,Amazon. ca*I97H70NV3 AMAZON. CA CA

In [63]:
columns_exp = ['日期', '类型', '金额', '一级分类', '二级分类', '账户1', '账户2', '备注', '货币', '标签']
columns_input =['序号', '交易日',	'入账日',	'信用卡卡号',	'类型',	'入账币种',	'入账金额',	'交易描述']

In [67]:
df_input.columns = columns_input
df_input

,序号,交易日,入账日,信用卡卡号,类型,入账币种,入账金额,交易描述
0,1,20231108,20231110,4321 3000 5225 2945,消费,人民币元,129.34,Temu. com Victoria CA
1,4,20231110,20231114,4321 3000 5225 2945,消费,人民币元,100.43,FRESHCO#9760 LONDON CA
2,9,20231111,20231113,4321 3000 5225 2945,消费,人民币元,49.36,LA PARRILLADA GRILL LONDON CA
3,10,20231113,20231117,4321 3000 5225 2945,消费,人民币元,68.67,FRESHCO#9760 LONDON CA
4,11,20231114,20231116,4321 3000 5225 2945,消费,人民币元,349.14,Paymentwall 0215884000 KR
5,13,20231115,20231117,4321 3000 5225 2945,退货退税,人民币元,-89.94,REGISTRAR - WESTERNLETTELONDON CA
6,19,20231118,20231122,4321 3000 5225 2945,消费,人民币元,102.82,FRESHCO#9760 LONDON CA
7,22,20231124,20231126,4321 3000 5225 2945,消费,人民币元,101.31,URBAN PLANET #1736 LONDON CA
8,23,20231125,20231127,4321 3000 5225 2945,消费,人民币元,233.03,AMZN Mkt p CA*N55222DK3 WWW. AMAZON. CACA
9,26,20231125,20231128,4321 3000 5225 2945,消费,人民币元,18.47,COCA COLA LONDON ON LONDON CA
10,27,20231125,20231129,4321 3000 5225 2945,消费,人民币元,42.19,FRESHCO#9760 LONDON CA
11,28,20231126,20231127,4321 3000 5225 2945,消费,人民币元,118.88,AMZN Mkt p CA*SL76648Q3 WWW. AMAZON. CACA
12,29,20231126,20231130,4321 3000 5225 2945,消费,人民币元,243.42,FRESHCO#9760 LONDON CA
13,32,20231128,20231130,4321 3000 5225 2945,退货退税,人民币元,-26.71,Temu. com Victoria CA
14,33,20231202,20231204,4321 3000 5225 2945,消费,人民币元,59.85,Amazon. ca Prime Member amazon. ca/priCA
15,35,20231205,20231207,4321 3000 5225 2945,消费,人民币元,562.22,Amazon. ca*I97H70NV3 AMAZON. CA CA

In [59]:
df_exp = pd.DataFrame(columns=columns_exp)

In [71]:
def process_date(date_string_series):
    formatted_date_series = pd.to_datetime(date_string_series, format="%Y%m%d").dt.strftime("%Y年%m月%d日")
    return formatted_date_series

In [79]:
transaction_mapping = {"退货退税":"退货"}
category_mapping ={   
'FRESHCO': ['餐饮'],
'APPLE': ['数码', '软件'],
'LUCY':['餐饮', '三餐'],
'SHOPPERS DRUG':['购物'],
'MCDONALD':['餐饮', '三餐'],
'MARSHALLS/HOMES':['购物','日用'],
'MEAL':['餐饮', '三餐'],
'FIDO MOBILE BPY':['通讯'],
'WESTERN DRUG MART':['购物'],
'IVEY BUSINESS SCHOOL': ['餐饮', '三餐'],
'SEPHORA': ['护肤'],
'Temu': ['购物'],
'URBAN PLANET':['购物'],
'COCA COLA': ['餐饮','零食'],
}

In [81]:
df_exp['日期'] = process_date(df_input['交易日'])
df_exp['货币'] = 'CNY'
df_exp['金额'] = df_input['入账金额'].abs()
df_exp['备注'] = df_input['交易描述']
df_exp['类型'] = df_input['类型'].map(transaction_mapping)
df_exp['类型'].fillna("支出", inplace=True)
df_exp['账户1'] = '2945'
df_exp['一级分类'] = df_input['交易描述'].apply(lambda x: next((category_mapping[key][0] for key in category_mapping.keys() if key in x), None))
df_exp['二级分类'] = df_input['交易描述'].apply(lambda x: next((category_mapping[key][1] for key in category_mapping.keys() if key in x and len(category_mapping[key]) > 1), None))

In [82]:
df_exp

,日期,类型,金额,一级分类,二级分类,账户1,账户2,备注,货币,标签
0,2023年11月08日,支出,129.34,购物,None,2945,NaN,Temu. com Victoria CA,CNY,NaN
1,2023年11月10日,支出,100.43,餐饮,None,2945,NaN,FRESHCO#9760 LONDON CA,CNY,NaN
2,2023年11月11日,支出,49.36,None,None,2945,NaN,LA PARRILLADA GRILL LONDON CA,CNY,NaN
3,2023年11月13日,支出,68.67,餐饮,None,2945,NaN,FRESHCO#9760 LONDON CA,CNY,NaN
4,2023年11月14日,支出,349.14,None,None,2945,NaN,Paymentwall 0215884000 KR,CNY,NaN
5,2023年11月15日,退货,89.94,None,None,2945,NaN,REGISTRAR - WESTERNLETTELONDON CA,CNY,NaN
6,2023年11月18日,支出,102.82,餐饮,None,2945,NaN,FRESHCO#9760 LONDON CA,CNY,NaN
7,2023年11月24日,支出,101.31,购物,None,2945,NaN,URBAN PLANET #1736 LONDON CA,CNY,NaN
8,2023年11月25日,支出,233.03,None,None,2945,NaN,AMZN Mkt p CA*N55222DK3 WWW. AMAZON. CACA,CNY,NaN
9,2023年11月25日,支出,18.47,餐饮,零食,2945,NaN,COCA COLA LONDON ON LONDON CA,CNY,NaN
10,2023年11月25日,支出,42.19,餐饮,None,2945,NaN,FRESHCO#9760 LONDON CA,CNY,NaN
11,2023年11月26日,支出,118.88,None,None,2945,NaN,AMZN Mkt p CA*SL76648Q3 WWW. AMAZON. CACA,CNY,NaN
12,2023年11月26日,支出,243.42,餐饮,None,2945,NaN,FRESHCO#9760 LONDON CA,CNY,NaN
13,2023年11月28日,退货,26.71,购物,None,2945,NaN,Temu. com Victoria CA,CNY,NaN
14,2023年12月02日,支出,59.85,None,None,2945,NaN,Amazon. ca Prime Member amazon. ca/priCA,CNY,NaN
15,2023年12月05日,支出,562.22,None,None,2945,NaN,Amazon. ca*I97H70NV3 AMAZON. CA CA,CNY,NaN